@page
@model MatthewPletcherFinalProject.Characters.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>All Characters</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Gender
            </th>
            <th>
                Show
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Character)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Show.Title)
                </td>
                <td>
                <a asp-page="./Edit" asp-route-id="@item.CharacterID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CharacterID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CharacterID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr>
<!--Finding the amount of Characters and then dividing by pageSize to get total amout of pages needed -->
@{
    float x = Model.Character.Count();
    float y = x/10;
    var round = Math.Round(y, 0, MidpointRounding.AwayFromZero);
}
@{
    var prevDisabled="";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}
@{
    var forwardDisable="";
    if (Model.PageNum == round)
    {
        forwardDisable ="disabled";
    }
}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item @prevDisabled">
        <a class="page-link" asp-page="./Characters/Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a>
    </li>
    <li class="page-item @forwardDisable">
        <a class="page-link" asp-page="./Characters/Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a>
    </li>
  </ul>
</nav>


