@page
@model MatthewPletcherFinalProject.Characters.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>All Characters</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    var firstSort = "name_asc";
                    if (Model.CurrentSort == "name_asc")
                    {
                        firstSort = "name_desc";
                    }
                }
                <a asp-page="./Index" asp-route-PageNum="@Model.PageNum" asp-route-CurrentSort="@firstSort">Name</a>
            </th>
            <th>
                Age
            </th>
            <th>
                Gender
            </th>
            <th>
                Show
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model.Character)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => b.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => b.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => b.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => b.Show.Title)
                </td>
                <td>
                <a asp-page="./Details" asp-route-id="@b.CharacterID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@b.CharacterID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr>
@{
    var prevDisabled="";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}
@{
    var forwardDisable="";
    if (Model.Character.Count < 10)
    {
        forwardDisable ="disabled";
    }
}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item @prevDisabled">
        <a class="page-link" asp-page="./Index" asp-route-CurrentSort="@(Model.CurrentSort)" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a>
    </li>
    <li class="page-item @forwardDisable">
        <a class="page-link" asp-page="./Index" asp-route-CurrentSort="@(Model.CurrentSort)" asp-route-PageNum="@(Model.PageNum + 1)">Next</a>
    </li>
  </ul>
</nav>


