@page
@model MatthewPletcherFinalProject._Pages.Shows.IndexModel

@{
    ViewData["Title"] = "Shows";
}

<h1>Shows</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Show) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShowID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ShowID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShowID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
